div.custom-scroll-sider::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
div.custom-scroll-sider::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
  border-radius: 20px;
}

/* Handle on hover */
div.custom-scroll-sider::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
  border-radius: 20px;
}