div.custom-scroll-notif::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
div.custom-scroll-notif::-webkit-scrollbar-thumb {
    background: rgb(163, 163, 163);
    border-radius: 20px;
}

/* Handle on hover */
div.custom-scroll-notif::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
    border-radius: 20px;
}